<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cys.system.common.mapper.CommandMapper">
    <resultMap id="commandMap" type="Command">
        <id column="c_id" property="commandId"/>
        <result column="c_command" property="content"/>
        <result column="c_createtime" property="createTime"/>
        <result column="response_user_id" property="responseUserId"/>
        <result column="article_id" property="articleId"/>
        <result column="user_id" property="userId"/>
    </resultMap>
    <insert id="addCommand" parameterType="Command">
        <selectKey resultType="java.lang.Integer" order="BEFORE" keyProperty="commandId">
            select nextval('command__c_id_seq'::regclass) as commandId
        </selectKey>
        insert into command(
        c_id,
        c_command,
        c_createtime,
        <if test="responseUserId != null">
            response_user_id,
        </if>
        article_id,
        user_id
        )
        values (
        #{commandId},
        #{content},
        #{createTime},
        <if test="responseUserId != null">
            #{responseUserId},
        </if>
        #{articleId},
        #{userId}
        )
    </insert>
    <delete id="deleteCommand">
        delete
        from command
        where c_id = #{commandId}
        and user_id = #{userId}
    </delete>
    <delete id="deleteCommandByArticleId" parameterType="java.lang.Integer">
        delete
        from command
        where article_id = #{articleId}
    </delete>
    <select id="getCommandByArticleId" parameterType="java.lang.Integer" resultMap="commandMap">
        select *
        from command
        where article_id = #{articleId}
        order by c_createtime desc
    </select>
    <select id="getCommandByCommandId" parameterType="java.lang.Integer" resultMap="commandMap">
        select  *
        from command
        where c_id = #{commandId}
    </select>
</mapper>