<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cys.system.common.mapper.UserMapper">
    <resultMap id="userMap" type="User">
        <id column="u_id" property="Id"/>
        <result column="u_name" property="name"/>
        <result column="u_sex" property="sex"/>
        <result column="u_image" property="image"/>
        <result column="u_online" property="online"/>
    </resultMap>
    <select id="getUserById" parameterType="java.lang.Integer">
        select *
        from user
    </select>
    <select id="listUser" parameterType="User">
        select *
        from user
        <where>
            <if test="name != null">
                u_name = #{name}
            </if>
            <if test="online == 1">
                u_online = 1
            </if>
        </where>
    </select>
    <select id="count" parameterType="User">
        select count(u_id)
        from user
        <where>
            <if test="name != null">
                u_name = #{name}
            </if>
            <if test="online == 1">
                u_online = 1
            </if>
        </where>
    </select>
    <insert id="applyUser" parameterType="User">
        insert into user(
        u_name,
        u_sex,
        u_image,
        u_online
        )values (
        #{name},
        #{sex},
        #{image},
        #{online}
        )
    </insert>
</mapper>