<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"
          name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../plugins/layui/css/layui.css">
    <script src="../plugins/layui/layui.js"></script>
    <script src="../js/layuistart.js"></script>
    <script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../plugins/angularjs/pagination.css">
    <script src="../plugins/angularjs/angular.min.js"></script>
    <script src="../plugins/angularjs/pagination.js"></script>
    <script type="text/javascript" src="../js/base_pagination.js"></script>
    <script type="text/javascript" src="../js/service/articleService.js"></script>
    <script type="text/javascript" src="../js/controller/baseController.js"></script>
    <script type="text/javascript" src="../js/controller/articleController.js"></script>
</head>
<body ng-app="system" ng-controller="articleController"
      class="hold-transition skin-red sidebar-mini">
<div class="box-header with-border">
    <h3 class="box-title">文章管理</h3>
</div>
<div class="box-body">
    <!-- 数据表格 -->
    <div class="table-box">
        <!--工具栏-->
        <div class="pull-left">
            <div class="form-group form-inline">
                <div class="btn-group">
                    <div class="has-feedback"></div>
                    <button type="button" class="btn btn-default" title="新建"
                            data-toggle="modal" ng-click="entity={}" data-target="#editModal">
                        <i class="fa fa-file-o"></i> 新建
                    </button>
                    <button type="button" class="btn btn-default" title="删除"
                            ng-click="dele()">
                        <i class="fa fa-trash-o"></i> 删除
                    </button>
                    <button type="button" class="btn btn-default" title="刷新"
                            onclick="window.location.reload();">
                        <i class="fa fa-refresh"></i> 刷新
                    </button>
                </div>
            </div>
        </div>
        <div class="box-tools pull-right">
            标题：
            <span class="layui-input-inline">
				<input type="text" ng-model="searchEntity.name" autocomplete="off" class="layui-input">
			</span>
            <button ng-click="reloadList();" class="btn btn-default">查询</button>
            <div class="has-feedback"></div>
        </div>
    </div>
</div>
<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th style="padding-right: 0px" class="layui-form">
            <input type="checkbox" title="全选" lay-skin="primary">
        </th>
        <th>标题</th>
        <th>作者</th>
        <th>喜欢人数</th>
        <th>评论数量</th>
        <th>发布状态</th>
        <th>创建时间</th>
        <th>是否置顶</th>
        <th>是否开启定时任务</th>
        <th>创建时间</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="entity in list">
        <td class="layui-form">
            <input type="checkbox" ng-click="updateSelection($event,entity.id)" lay-skin="primary"/>
        </td>
        <td>{{entity.name}}</td>
        <td>{{entity.author}}</td>
        <td>{{entity.lovenum}}</td>
        <td>{{entity.browsenum}}</td>
        <td>
            <ng-if test="entity.status == 0">未发布</ng-if>
            <ng-if test="entity.status == 1">发布</ng-if>
        </td>
        <td>{{entity.createtime}}</td>
        <td>
            <ng-if test="entity.istop == 0">未置顶</ng-if>
            <ng-if test="entity.istop == 1">置顶</ng-if>
        </td>
            <ng-if test="entity.enabletimetask == 0">否</ng-if>
            <ng-if test="entity.enabletimetask == 1">是</ng-if>
        </td>
        <td class="text-center">
            <button type="button" class="btn bg-olive btn-xs"
                    data-toggle="modal" ng-click="findOne(entity.id)"
                    data-target="#editModal">详情
            </button>
        </td>
    </tr>
    </tbody>
</table>
<!--数据列表/-->
<tm-pagination conf="paginationConf"></tm-pagination>
</div>
</div>

</body>
</html>