<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>后台管理系统</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"
          name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet"
          href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">

    <script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>

    <script src="../plugins/adminLTE/js/app.min.js"></script>
    <script src="../plugins/angularjs/angular.min.js"></script>
    <script type="text/javascript" src="../js/base.js"></script>
    <script type="text/javascript" src="../js/service/loginService.js"></script>
    <script type="text/javascript" src="../js/controller/baseController.js"></script>
    <script type="text/javascript" src="../js/controller/loginController.js"></script>

    <script type="text/javascript">
        function SetIFrameHeight() {
            var iframeid = document.getElementById("iframe"); //iframe id
            if (document.getElementById) {
                iframeid.height = document.documentElement.clientHeight;
            }
        }
    </script>

</head>

<body ng-app="system" ng-controller="loginController" ng-init="loadLoginUser();loadMsg();"
      class="hold-transition skin-green sidebar-mini">

<div class="wrapper">

    <!-- 页面头部 -->
    <header class="main-header">
        <!-- Logo -->
        <a href="index.html" class="logo"> <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>农特产</b></span> <!-- logo for regular state and mobile devices -->
            <ng-if></ng-if>
            <span class="logo-lg">
                <b ng-if="a == -1">农特产-店铺后台</b>
                <b ng-if="b == -1 && a != -1">农特产-管理员后台</b>
                <b ng-if="b != -1">农特产-超级管理员后台</b>
            </span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas"
               role="button"> <span class="sr-only">Toggle navigation</span>
            </a>

            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!-- Messages: style can be found in dropdown.less-->
                    <li class="dropdown messages-menu"><a href="#"
                                                          class="dropdown-toggle" data-toggle="dropdown"> <i
                            class="fa fa-envelope-o"></i> <span class="label label-success">{{msgList.length}}</span>
                    </a>
                        <ul class="dropdown-menu">
                            <li class="header">你有{{msgList.length}}个消息</li>
                            <li>
                                <!-- inner menu: contains the actual data -->
                                <ul class="menu">
                                    <li ng-repeat="msg in msgList">
                                        <!-- start message --> <a href="#">
                                        <div class="pull-left">
                                            <img src="../images/user2-160x160.jpg" class="img-circle">
                                        </div>
                                        <h4>
                                            系统消息 <small><i class="fa fa-clock-o"></i> {{msg.createtime}}</small>
                                        </h4>
                                        <p>{{msg.message}}</p>
                                    </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer"><a href="#">See All Messages</a></li>
                        </ul>
                    </li>
                    <!-- User Account: style can be found in dropdown.less -->
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="{{loginUserInfo.image}}" class="user-image"
                            alt="User Image">
                            <span id="loginUserFlag" ng-value="loginUserInfo.userId" class="hidden-xs">
                                {{loginUserInfo.principal}}
                            </span>
                            <span id="loginRole" ng-value="loginUserInfo.authorities[0].role"></span>
                    </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header"><img src="../images/user2-160x160.jpg"
                                                         class="img-circle" alt="User Image">

                                <p>
                                    {{loginUserInfo.principal}} <small>最后登录 11:20AM</small>
                                </p></li>

                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="password.html" class="btn btn-default btn-flat">修改密码</a>
                                </div>
                                <div class="pull-right">
                                    <a href="javascript:void(0)" ng-click="logout()" class="btn btn-default btn-flat">注销</a>
                                </div>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
        </nav>
    </header>
    <!-- 页面头部 /-->

    <!-- 导航侧栏 -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="../images/user2-160x160.jpg" class="img-circle"
                         alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>测试用户</p>
                    <a href="#"><i class="fa fa-circle text-success"></i> 在线</a>
                </div>
            </div>

            <!-- /.search form -->


            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu">
                <li class="header">菜单</li>
                <li id="admin-index"><a href="home.html" target="iframe"><i
                        class="fa fa-dashboard"></i> <span>首页</span></a></li>
<!--                <li ng-if="b != -1" id="admin-index"><a href="center.html" target="iframe"><i-->
<!--                        class="fa fa-dashboard"></i> <span>监控中心</span></a></li>-->
                <!-- 菜单 -->
                <li class="treeview"><a href="#"> <i class="fa fa-folder"></i>
                    <span>个人中心</span> <span class="pull-right-container"> <i
                            class="fa fa-angle-left pull-right"></i>
						</span>
                </a>
                    <ul class="treeview-menu">
                        <li id="admin-login"><a href="cur_user.html" target="iframe">
                            <i class="fa fa-circle-o"></i>我的资料
                        </a></li>
                        <li id="admin-login"><a href="password.html" target="iframe">
                            <i class="fa fa-circle-o"></i>修改密码
                        </a></li>
                    </ul>
                </li>
                <li ng-if="b != -1" class="treeview"><a href="#"> <i class="fa fa-folder"></i>
                    <span>系统管理</span> <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                    <ul class="treeview-menu treeview">
                        <li id="admin-login"><a href="ipinfo.html"
                                                target="iframe"> <i class="fa fa-circle-o"></i>IP记录管理
                        </a></li>
                        <li id="admin-login"><a href="auth.html"
                                                target="iframe"> <i class="fa fa-circle-o"></i>权限管理
                        </a></li>
                    </ul>
                </li>
                <li ng-if="a != -1" class="treeview"><a href="#"> <i class="fa fa-folder"></i>
                    <span>用户管理</span> <span class="pull-right-container"> <i
                            class="fa fa-angle-left pull-right"></i>
						</span>
                </a>
                    <ul class="treeview-menu">
                        <li id="admin-login"><a href="user.html" target="iframe">
                            <i class="fa fa-circle-o"></i>角色用户管理
                        </a></li>
                        <li id="admin-login"><a href="shop_examine.html" target="iframe">
                            <i class="fa fa-circle-o"></i>商家审核
                        </a></li>
<!--                        <li id="admin-login"><a href="seller.html" target="iframe">-->
<!--                            <i class="fa fa-circle-o"></i>商家管理-->
<!--                        </a></li>-->
                    </ul>
                </li>

                <li ng-if="a == -1" class="treeview"><a href="#"> <i class="fa fa-folder"></i>
                    <span>订单管理</span> <span class="pull-right-container"> <i
                            class="fa fa-angle-left pull-right"></i>
						</span>
                </a>
                    <ul class="treeview-menu">
                        <li id="admin-login"><a href="order.html" target="iframe">
                            <i class="fa fa-circle-o"></i>订单物流
                        </a></li>
                    </ul>
                </li>

                <li class="treeview"><a href="#"> <i class="fa fa-folder"></i>
                    <span>商品管理</span> <span class="pull-right-container"> <i
                            class="fa fa-angle-left pull-right"></i>
						</span>
                </a>
                    <ul class="treeview-menu">

                        <li id="admin-login"><a href="brand.html" target="iframe">
                            <i class="fa fa-circle-o"></i>品牌管理
                        </a></li>
                        <li id="admin-login"><a href="specification.html"
                                                target="iframe"> <i class="fa fa-circle-o"></i>规格管理
                        </a></li>
<!--                        <li id="admin-login"><a href="type_template.html"-->
<!--                                                target="iframe"> <i class="fa fa-circle-o"></i>模板管理-->
                        </a></li>
                        <li ng-if="a != -1" id="admin-login"><a href="area.html" target="iframe">
                            <i class="fa fa-circle-o"></i>区域管理
                        </a></li>
                        <li ng-if="a != -1" id="admin-login"><a href="goods_examine.html" target="iframe">
                            <i class="fa fa-circle-o"></i>商品审核
                        </a></li>
                        <li ng-if="a == -1" id="admin-login"><a href="goods_edit.html" target="iframe">
                            <i class="fa fa-circle-o"></i>发布商品
                        </a></li>
                        <li id="admin-login"><a href="goods_list.html" target="iframe">
                            <i class="fa fa-circle-o"></i>商品列表
                        </a></li>
                    </ul>
                </li>
                <li ng-if="a != -1" class="treeview"><a href="#"> <i class="fa fa-folder"></i>
                    <span>文章管理</span> <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                </a>
                    <ul class="treeview-menu">
                        <li id="admin-login"><a href="article.html"
                                                target="iframe"> <i class="fa fa-circle-o"></i>文章管理
                        </a></li>
                        <li id="admin-login"><a href="article_edit.html"
                                                target="iframe"> <i class="fa fa-circle-o"></i>编辑文章
                        </a></li>
                        <!--                                <li id="admin-login"><a href="article_template.html"-->
                        <!--                                                        target="iframe"> <i class="fa fa-circle-o"></i>文章详情模版-->
                        <!--                                </a></li>-->
                    </ul>
                </li>
                <li ng-if="a != -1" class="treeview"><a href="#"> <i class="fa fa-folder"></i>
                    <span>公告管理</span> <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                </a>
                    <ul class="treeview-menu">
                        <li id="admin-login"><a href="bulletin.html"
                                                target="iframe"> <i class="fa fa-circle-o"></i>公告管理
                        </a></li>
                    </ul>
                </li>
<!--                <li ng-if="a != -1" class="treeview"><a href="#"> <i class="fa fa-folder"></i>-->
<!--                    <span>广告管理</span> <span class="pull-right-container">-->
<!--                        <i class="fa fa-angle-left pull-right"></i>-->
<!--                    </span>-->
<!--                </a>-->
<!--                    <ul class="treeview-menu">-->

<!--                        <li id="admin-login"><a href="content_category.html"-->
<!--                                                target="iframe"> <i class="fa fa-circle-o"></i>广告类型管理-->
<!--                        </a></li>-->
<!--                        <li id="admin-login"><a href="content.html" target="iframe">-->
<!--                            <i class="fa fa-circle-o"></i>广告管理-->
<!--                        </a></li>-->
<!--                    </ul>-->
<!--                </li>-->
                <!-- 菜单 /-->

            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>
    <!-- 导航侧栏 /-->

    <!-- 内容区域 -->
    <div class="content-wrapper">
        <iframe width="100%" id="iframe" name="iframe"
                onload="SetIFrameHeight()" frameborder="0" src="home.html"></iframe>

    </div>
    <!-- 内容区域 /-->

    <!-- 底部导航 -->
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> 1.0.8
        </div>
        <strong>Copyright &copy; 2014-2017 <a
                href="#">农特产</a>.
        </strong> All rights reserved.
    </footer>
    <!-- 底部导航 /-->

</div>

</body>

</html>