<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"
          name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../plugins/angularjs/angular.min.js"></script>
    <script type="text/javascript" src="../js/base.js"></script>
    <script type="text/javascript" src="../js/service/userService.js"></script>
    <script type="text/javascript" src="../js/controller/baseController.js"></script>
    <script type="text/javascript" src="../js/controller/userController.js"></script>
</head>
<body ng-app="system" ng-controller="userController">
<br>
<br>
<br>
<br>
<form onsubmit="return false;">
    <div class="form-group">
        <label for="oldPassword">旧密码</label>
        <input type="email" class="form-control" id="oldPassword" ng-model="passwordInfo.oldPassword">
    </div>
    <div class="form-group">
        <label for="newPassword">新密码</label>
        <input type="email" class="form-control" id="newPassword" ng-model="passwordInfo.newPassword">
    </div>
    <div class="form-group">
        <label for="newPassword_next">再次输入新密码</label>
        <input type="email" class="form-control" id="newPassword_next" ng-model="passwordInfo.newPassword_next">
    </div>
    <div class="form-group" ng-if="{{errorTip != null}}">
        <p class="help-block" style="color:red">{{errorTip}}</p>
    </div>
    <button type="submit" class="btn btn-default" ng-click="modifyPassword()">修改密码</button>
</form>
</body>
</html>