<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cys.system.common.mapper.ArticleMapper">
    <resultMap id="articleMap" type="Article">
        <id column="article_id" property="id"/>
        <result column="article_name" property="title"/>
        <result column="article_author" property="content"/>
        <result column="article_createtime" property="author"/>
        <result column="article_content" property="content"/>
        <result column="article_browsenum" property="browsenum"/>
        <result column="article_lovenum" property="lovenum"/>
        <result column="article_istop" property="istTop"/>
        <result column="article_status" property="status"/>
        <result column="article_enabletimetask" property="enabletimetask"/>
        <result column="article_timetask" property="timetask"/>
    </resultMap>
    <resultMap id="timeTaskMap" type="TimeTask">
        <id column="b_id" property="id"/>
        <result column="b_enabletimetask" property="enable"/>
        <result column="b_timetask" property="time"/>
    </resultMap>
    <select id="listArticle" resultMap="articleMap" parameterType="Article">
        select *
        from article
        <where>
            <if test="article_status != null">
                article_status = #{status}
            </if>
            <if test="article_enabletimetask">
                article_enabletimetask = #{enableTimeTask}
            </if>
            <if test="article_name != null">
                article_name = #{name}
            </if>
        </where>
    </select>
    <select id="getArticleById" parameterType="Article" resultMap="articleMap">
        select *
        from article
        where article_id=#{id}
    </select>
    <select id="listTimeTask" resultMap="timeTaskMap">
        select
        article_id,
        article_enabletimetask,
        article_timetask
        from article
        where
        article_status = 0
        and b_enabletimetask = 1
        and b_timetask != 'null'
    </select>
    <select id="count" parameterType="java.lang.Long">
        select count(article_id)
        from article
    </select>
    <insert id="addArticle" parameterType="Article">
        insert into article(
        article_name,
        article_author,
        article_content,
        article_createtime,
        article_browsenum,
        article_lovenum,
        article_istop,
        article_status,
        article_enabletimetask,
        article_timetask)
        values (
        #{name},
        #{author},
        #{content},
        #{createtime},
        #{browsenum},
        #{lovenum},
        #{istop},
        #{status},
        #{enabletimetask},
        #{timetask}
        )
    </insert>
    <delete id="deleteArticleById" parameterType="java.lang.Integer">
        delete *
        from article
        where article_id = #{id}
    </delete>
    <update id="increaseBrowseNum" parameterType="java.lang.Integer">
        update article
        set aricle_browsenum=article_browsenum+1
        where article_id = #{id}
    </update>
    <update id="increaseLoveNum" parameterType="java.lang.Integer">
        update article
        set artilce_lovenum = article_lovenum+1
        where article_id = #{id}
    </update>
    <update id="updateStatusById" parameterType="java.lang.Integer">
        update article
        set article_status=0
        article_enabletimetask = 0
        article_timetask='null'
        where article_id=#{id}
    </update>
</mapper>