<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cys.sso.mapper.UserMapper">
    <resultMap id="userMap" type="User">
        <id column="user_id" property="userId"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="sex" property="sex"/>
        <result column="image" property="image"/>
        <result column="role_id" property="roleId"/>
        <result column="level" property="level"/>
        <result column="status" property="status"/>
        <result column="disable_time" property="disableTime"/>
        <result column="shop_id" property="shopId"/>
    </resultMap>
    <select id="findPasswordByUsername" parameterType="java.lang.String" resultMap="userMap">
        select
        user_id,
        username,
        password,
        role_id,
        level,
        shop_id
        from
        _user
        where
        username = #{username}
    </select>
    <select id="checkUsername" parameterType="java.lang.String" resultType="java.lang.Integer">
        select user_id
        from _user
        where username=#{username}
    </select>
    <select id="findStatus" parameterType="java.lang.String" resultType="java.lang.Integer">
        select status
        from _user
        where username=#{username}
    </select>
    <update id="changeStatus">
        update _user set status=#{status}
        where username=#{username}
    </update>
    <insert id="registry" parameterType="User">
        <selectKey resultType="java.lang.Integer"  order="AFTER" keyProperty="userId" >
            select currval('user_u_id_seq'::regclass) as userId
        </selectKey>
        insert into _user(
        username,
        password,
        sex,
        image,
        role_id,
        level,
        status,
        disable_time,
        bind_phone
        )values (
        #{username},
        #{password},
        #{sex},
        #{image},
        #{roleId},
        #{level},
        #{status},
        #{disableTime},
        ${bindPhone}
        )
    </insert>
</mapper>